*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Mukta", sans-serif;
}

@mixin responsive() {
  @media screen and (max-width: 960px) {
    @content;
  }
}

@import "partials/colors";

body {
  width: 100vw;
  height: 100vh;
  //border: 5px solid red;
  background-color: $blue-dark;
  overflow-x: hidden;
}

img.svg {
  display: block;
  width: 100%;
}
a {
  text-decoration: none;
  color: $white;
}

.border {
  border: 1px solid red;
}

p {
  font-size: 14px;
  color: $gray-3;
  letter-spacing: 1px;
  line-height: 140%;
}

@import "partials/menu";
@import "partials/layout";
@import "partials/animations";
@import "partials/spacing";

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.w-auto {
  width: auto;
}
